
/* ------------------ */
/* strong_container */
/* ------------------ */

.strong_container {
  margin-bottom: 110px;
  margin-top: 120px;
  @include mq('sp'){
    padding: 0 20px;
    margin-bottom: 50px;
    margin-top: 60px;
  }
}

.strong_text {
  font-size: 18px;
  line-height: 2.22;
  margin-bottom: 80px;
  @include mq('sp'){
    line-height: 1.875;
    font-size: 16px;
  }
}

.strong_img {
}



.strong_point_container {
  background-color: #f1f8ec;
  padding: 110px 40px;
  @include mq('sp'){
    padding: 70px 20px;
  }
}

.strong_point_ttl {
  margin-bottom: 56px;
}

/* ------------------ */
/* strong_container */
/* ------------------ */

.strong_container {
  margin-bottom: 110px;
  margin-top: 120px;
  @include mq('sp'){
    padding: 0 20px;
    margin-bottom: 50px;
    margin-top: 60px;
  }
}

.strong_text {
  font-size: 18px;
  line-height: 2.22;
  margin-bottom: 80px;
  @include mq('sp'){
    line-height: 1.875;
    font-size: 16px;
    margin-bottom: 29px;
  }
}

.strong_ttl {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  @include mq('sp'){
    font-size: 22px;
  }
}